mixin customSlide(metadata)
  .slide__slidy
    img(title="slide1" src=metadata.src1)
    img(title="slide2" src=metadata.src2)
    img(title="slide3" src=metadata.src3)

mixin customIcon
  span
  i.fas.fa-heart
  i.fas.fa-heart
  span

mixin customPhoto(metadata)
  .photo
    img(title="photo" src=metadata.src)
    .photo__layout
      a(href="#" type="button")=metadata.a
      .photo__layout__icon
        i.fas.fa-heart
        i.fas.fa-heart
      h4=metadata.h4

mixin customCountdown(metadata)
  span.countdown__section
    span.countdown__section__amount=metadata.amount
    span.countdown__section__period=metadata.period

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title FOREVER
    link(rel="icon" href="./image/favicon.jpg")
    link(rel="stylesheet", href="./style.css")
    link(rel="stylesheet", href="fontawesome-free-5.13.0-web/css/all.min.css")
  body
    header
      nav.container
        .row
          a.logo(href="#")
            strong g
            i.fas.fa-heart
            strong d
          #nav__menu
            - const arryNav = [ "home", "about", "gallery", "the story", "the wedding", "blog", "page", "rsvp"]
            ul
              for n in arryNav
                li
                  a=n
                  i.fas.fa-heart
    main
      section#slide
        - const slideImg = {"src1": "./image/slide-image-1920-c.jpg", "src2": "./image/slide-image-1920-d.jpg", "src3": "./image/slide-image-1920-f.jpg"}
        + customSlide(slideImg)
        - const arrH1 = ["save", "the date", "- 27 . 11 . 98 -"]
        .slide__content
          for n in arrH1
            h1=n
          h2 *** we are getting married ***
          .slide__content__icon
            + customIcon
      section#couple
        .container
          .row
            .title
              h1 the happy couple
              p.title__blurb Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus.
              .title__icon
                + customIcon
          .row
            - const photo = [{"src": "./image/him2.jpg", "a": "about him", "h4": "*** the groom ***"}, {"src": "./image/her2.jpg", "a": "about her", "h4": "*** the bride ***"}]
            + customPhoto(photo[0])
            + customPhoto(photo[1])
      section#countdown
        - const arrH2 = ["counting", "down"]
        .countdown
          h2 *** at foxegan hotel & restaurant, los angeles ***
          for n in arrH2
            h1=n
          .countdown__icon
            + customIcon
          span.countdown--row
            - const arrSpan = [{'amount': 0, 'period': 'W'}, {'amount': 0, 'period':'D'}, {'amount': 0, 'period': 'H'}, {'amount': 0, 'period': 'm'}, {'amount': 0, 'period': 's'}]
            for n in arrSpan
              + customCountdown(n)          
